/.project
src/*.o
src/txt2bin
src/dasm02
src/dasm05
src/dasm09
src/dasm48
src/dasm51
src/dasm1802
src/dasm7000
src/dasm78k3
src/dasm68k
src/dasm85
src/dasm96
src/dasmavr
src/dasmm8
src/dasmpic12
src/dasmpic16
src/dasmpic18
src/dasmpic24
src/dasmdspic33
src/dasmunsp
src/dasmx86
src/dasmz80
.*.sw?

# Test framework output
test/*/output/
test/*/generated/*.bin
test/tool_features/testdata/*.bin
test/*/test.bin
test/dasmpic*/*.cod
test/dasmpic*/*.err
test/dasmpic*/*.hex
!test/dasmpic24/test.hex
test/dasmpic*/*.lst
test/dasmpic*/*.o
test/dasmpic*/*.out
test/dasmdspic*/*.err
test/dasmdspic*/*.hex
!test/dasmdspic33/test.hex
test/dasmdspic*/*.lst
test/dasmdspic*/*.o
test/dasmdspic*/*.out
*.pyc
__pycache__/

# Analysis reports
tools/analysis_reports/
